[user]
	email = bednarz.prof@gmail.com
	name = bbzdevpr
[core]
    editor = code --wait
    autocrlf = true  # Utilisez "true" sur Windows, "input" sur Linux/Mac
    excludesfile = ~/.gitignore_global  # Fichier global de gitignore

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate

[color]
    ui = auto

[push]
    default = simple
